
.grey-box {
    background: #141414;
    font-size: 15px;
    padding: 20px; 
    color: #fefae0;
    font-family: "Josefin Sans";
    border-radius: 15px;
    text-align: left;
    margin: 15px;
}

.no-break p {
  display: inline;
}

.grey-box h1 {
  font-size: 20px;
  font-family: "Inconsolata";
  padding-bottom: 15px;
}


.wrap-small-text-box {
    padding: 5px 10px 5px 10px;
    color: #fefae0;
    font-family: 'Mukta';
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #3d3d3d;
    transition: 0.6s;
}
.wrap-small-text-box:hover,
.wrap-small-text-box:focus {
  transform: translateY(0.07em);
	background-color: #5C5C5C;
}




/* this is just used for the courses */
.fixed-small-text-box {
  padding: 7px; 
  color: #fefae0;
  font-family: 'Lato';
  border-radius: 7px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin: 5px 10px 5px 10px;
}

.fixed-small-text-box:hover,
.fixed-small-text-box:focus {
	opacity: 0.7;
	
}




.holder {
    display: block;
}