/* Change to no scroll bar */
::-webkit-scrollbar {
    width: 0px;
}

/* shifts content down */
.main-holder {
    margin-top: 44px;
    opacity: 0.8;
}

.column {
    height: 100vh;
    float: left;
    overflow: scroll;
    background: black;
}

.left {
    width: 10%;
}


.right { 
    width: 90%;
    background-image: radial-gradient(#8D99AE 0.5px, #4a4e69 0.5px);
    background-size: 10px 10px;
}

.content-left {
    height: 100vh;
    margin-top: 5px;
}



.holder-for-concepts {
    margin: auto;
    width: 50%;
    justify-content: center;
    background-color: transparent;
    display: flex;
}


.select-button {
    color: white;
    padding: 8px;
    background-image: linear-gradient(to left, #fcbf49, #c1121f);
    font-family: 'Josefin Sans';
    margin: 20px;
    width: 90px;
    border-radius: 50px;
    transition: 0.6s;
    background-size: 200%;
}

.select-button:hover {
    background-position: right;
}









/*

.position-courses{
    position: relative;
    margin-left: 10%;
}


.holder {
    float: right;
}


.content p {
    font-size: 18px;
    line-height: 20px;
    color: white;
    font-family: 'Josefin Sans';
}



.vertical-bar-long {
    position: relative;
    width: 10%;
    height: 100vh;
    background-color: #0b090a;
}

.black-box-long {
    width: 10%;
    height: 44px;
    background-color: #0b090a;
    opacity: 0.8;
    position: relative;
    top: 0;
    left: 0; 
}
*/


/* The white background. The margin is pushed to accomodate the left sidebar */

