
/* this is the container that holds the labels subset, constitution, etc... */
.labels {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    width: 200px;
    height: 40px;
}

/* The font style for each p, plus padding in between them */
.labels p {
    padding: 20px 0 10px 0;
    font-family: 'Josefin Sans';
}


/* holds the two sides so they can go blocked beside eachother */
.relation-description-holder {
    display: table;
    clear: both;
}

/* this is a holder for the relation description boxes */
.content-side {
    position: relative;
    width: 50%;
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}

/* this is the relation description boxes */
.relation-section {
    background-color: #292929;
    padding: 40px;
    color: white;
    margin: 0px;
    position: relative;
    border: 3px solid #0b090a;
    margin-bottom: 50px;
}

.relation-section h1 {
    font-family: "Inconsolata";
    padding-bottom: 20px;
}

.relation-section p {
    font-family: "Josefin Sans";
    font-size: 16px;
    line-height: 19px;
}

/* holder for the example trees */
.example-side {
    width: 35%;
    height: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
}


