.left-side-content {
    width: 10%;
    height: 100vh;
    float: left;
}

.right-side-content {
    width: 90%;
    float: left;
    height: 100vh;
}

.left-side-content-main {
    width: 150px;
    height: 100vh;
    background-color: black;
    float: left;
    position: fixed;
}

.right-side-content-main {
    width: 100%;

}

.margins {
    margin-left: 150px;
}


/* This is the container for all the content on the page. */
.background {
    margin-top: 44px;  
    height: 6000px;
    width: 100%;
    background-image: radial-gradient(#8D99AE 0.5px, #4a4e69 0.5px);
    background-size: 10px 10px;
    background-color: #e5e5f7;
    opacity: 0.8;
}

/* This is the bar that sits on the left */
.vertical-bar {
    position: fixed;
    width: 10%;
    height: 100vh;
    background-color: #0b090a;
}

.black-background {

    background-color: black;
    
}

/* this is the black box that sits in the top left corner */
.black-box {
    width: 10%;
    height: 44px;
    background-color: #0b090a;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0; 
}

/* The white background */
.intro {
    background-color: #fefae0;
    color: black;
    font-size: 25px;
    border-bottom: 5px solid pink;
}

.intro p {
    font-family: 'Inconsolata';
    padding: 20px 100px 40px 40px;   /* TOP RIGHT BOTTOM LEFT*/
}

.intro h1 {
    font-family: 'Inconsolata';
    font-size: 70px;
    padding: 40px 40px 20px 40px; 
}




.holder {
    font-family: "Inconsolata";
    text-align: center;
    line-height: 20px;
}

.legend {
    height: 20px;
    width: 100%;
    border-bottom: dashed white 2px;
    cursor: pointer;
}

.legend:hover,
.legend:focus {
	opacity: 0.9;
}

.top {
    border-top: dashed white 2px;
}

.head-legend {
    font-family: 'Pacifico';
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
}

.back-arrow {
    color: white;
    padding: 5px;
    background-image: linear-gradient(to left, #f28482, #c1121f, #3a86ff);
    font-family: 'Josefin Sans';
    margin: 20px;
    width: 100px;
    border-radius: 50px;
    transition: 0.6s;
    background-size: 200%;
}

.back-arrow:hover {
    background-position: right;
}

